body {
	font-size: 0.75rem;
	font-family: 'Chakra Petch', sans-serif;
}
#komichi_guys {
	border-radius: 20px;
    font-family: 'Chakra Petch';
	background-blend-mode: hard-light;
}
.floating_navbar_holder {
	margin-bottom: -87px;
	font-family: 'Chakra Petch', sans-serif;
	color: black;
	font-weight: bold;
}
.navbar_champher {
	background-image: url(img/navcurve.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 100% 100%;
	background-color: transparent;
}
.havebeennbox {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% 100%;
	background-image: url(img/right-text.png);	
}
.btn-primary {
	background: #F04C28;
	border: 1px solid #F04C28;
	font-size: 0.75rem;
	border-radius: 10px;
}
.nav-link {
	color: black;
    text-decoration: none;
}
.nav-link:hover, .nav-link:focus {
    color: black;
    text-decoration: underline;
    text-decoration-color: #F04C28;
}

@media (min-width: 992px) { 
	#komichi_guys {
		background-image: url(img/bghead.png);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: auto 100%;
		height: 850px;
		max-height: calc(100vh - 20px);
	}
	.floating_navbar_holder {
		margin-bottom: -82px;
		position: relative;
		z-index: 10;
	}	
}

@media (max-width: 992px) { 
	#komichi_guys {
		background-image: url(img/tablet_bghead.png);
		background-position: left top;
		background-size: 100% 100%;
		height: calc(100vh - 60px);
	}
	.floating_navbar_holder {
		margin-bottom: -70px;
		position: relative;
		z-index: 10;
	}
	.offcanvas-top {
		margin-left: 25px;
	    width: calc(100% - 50px);
	    background-color: #F04C28;
	    height: fit-content;
	    padding: 0px;
	}
	.nav-link {
		color: white;
		font-size: 1.5rem;
		border-bottom: 1px solid #fff;
		padding: 10px;
		text-decoration: none;
		font-weight: normal;
		line-height: 60px;
	}
	.navbottomchampher {
		background: url(img/bottom_nav_champher.png);
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: 100% auto;
		margin-bottom: -45px;
	}
}